*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px 
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
  font-weight: normal
img 
  max-width: 100%
.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &__word
      display: flex
      align-items: center
      &::after
        content: ""
        width: 80px
        height: 2px
        background-color: $primary
        margin-left: 1.5rem 
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      width: 31.57rem
    &__heading
      text-transform: uppercase
      font-family: Yeseva One, cursive
      font-style: normal
      font-weight: 200
      font-size: 1.428rem
      line-height: 138%
      &--primary
        color: $primary
    &__image
      display: flex
      justify-content: center
      align-items: center
      margin-top: 1rem
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px 0 12px
  &-text 
    font-family: 'Futura Book', sans-serif
    font-size: 1.4285rem
    line-height: 1.928rem
    text-align: center
    text-transform: none
    font-style: normal
    font-weight: normal
    color: $ternary
    